*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h1{
    font-size: 3rem;
}
p{
    font-size: 1rem;
}
#header{
    background-color: bisque;
    padding: 30px;
    text-align: left;
}
#row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 10px;
}
#col1{
    background-color: aqua;
    flex: 25%;
}
#col2{
    background-color: aquamarine;
    flex: 5%;
}
#col3{
    background-color: rgb(66, 195, 254);
    flex: 20%;
}
#col4{
    background-color: rgb(0, 157, 255);
    flex: 5%;
}
#footer{
    background-color:bisque;
    padding: 10px;
    text-align: center;
}
.flex-image{
    max-width: 100%;
    object-fit: fit;
    height: auto;
/*image fits the column width*/
    width: 100vw !important;
    height: auto !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;

}
/*optimasied for tablet*/
@media (max-width: 900px){
    .column{
        min-width: 50%;
    }
}
/*optimised for mobile*/
@media (max-width:500px) {
    h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 1.5rem;
    }
    #row{
        flex-direction: column;
    }
}
